@mixin experimental($property, $value) {
    @each $member in webkit, khtml, moz, ms {
      -#{$member}-#{$property}: $value;
    }
    #{$property}: $value;
  }
  

  @mixin opacity($opacity)
  {
    @if $opacity == 1
    {
      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(enabled=false)");
    }
    @else {
      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
    }
    opacity: $opacity;
  }

  @mixin backgroundImage($url, $size:cover, $repeat:no-repeat)
  {

    background-image: url($url);
    background-repeat: $repeat;
    background-size: $size;
    
  }

  @mixin text-ellipsis($width){
    white-space: nowrap; 
    overflow: hidden; 
    @include experimental(text-overflow, ellipsis);
    width: $width;
    max-width: $width;
  }
  